* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
}

a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    color: rgb(44, 179, 190);
    text-decoration: none;
}

nav {
    position: -webkit-sticky;
    position: fixed;
    top: 0;
    height: 69px;
    width: 100%;
    background: linear-gradient(to bottom, #020024 0%, #090979 35%, #00d4ff 100%); /* background when scroll is in the top */
    transition: 0.5s; /* control how smooth the background changes */
  }
  
  /* nav.scrolled {
    background: #090979;
  } */
  
.navLinks {
    padding: .5rem;
}

.footer {
    width: 100%;
    padding: 20px 0;
    font-size: 0.75rem;
    color: white;
    text-align: center;
}