* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
}

a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}

a:hover {
    color: rgb(44, 179, 190);
    text-decoration: none;
}

.navStyle {
    background: url(./images/Kyoto.jpg);
}

.navLinks {
    padding: .5rem;
}

.helloThere {
    background-image: url(./images/_DSC2844.jpg);
    background-size: cover;
    height: 1200px;
}

.helloThere h1 {
    color: whitesmoke;;
    position: relative;
    top: 35%;
    text-align: center;
}

.helloThere p {
    color: white;
    text-align: center;
    position: relative;
    top: 37.5%;
}

.textBlock {
    text-align: center;
    color: black;
    background-color: rgb(192,192,192);
}

.textBlock h2 {
    padding-top: 30px;
}

.footer {
    background:url(./images/Kyoto.jpg);
    width: 100%;
    padding: 20px 0;
    font-size: 0.75rem;
    color: white;
    text-align: center;
}